/* Project Styling */

#projectContainer {
    color: #C2C2C3;
    /* padding-left: 20px; */
}

/* .projectItem {
    border: 1px solid #0A1E24;
    border-radius: 2px;
    background-color: #050E11;
    text-align: center;
} */

.projectItem > div {
    border-right: 1px solid black;
    margin: 2px;
    border-radius: 2px;
    background-color: #050E11;
    text-align: center;
}

.projectLink {
    min-width: 263.5px;
}

.projectLink:hover {
    box-shadow: 0px 0px 18px;
    transition: 0.23s ease;
}

.listItem {
    display: inline-block;
    margin: 10px;
}

.listItem li {
    /* list-style-type: none; */
}