<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="pageContainer">
  <div class="titleContainer">
    <h1 class="Title">
      {{ title }}
    </h1>
  </div>
  <app-socials></app-socials>
  <div class="container" id="logoContainer">
    <img src="assets/Site Logo.png" alt="Logo" id="siteLogo" />
  </div>
  <div class="container" id="projectContainer">
    <h2 id="sectionTitle">Projects</h2>
    <ul class="listItem">
      <li>Project 1</li>
      <li>Project 2</li>
    </ul>
  </div>
</div>