<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="pageContainer">
  <div class="row no-gutters">
    <div class="titleContainer col-6">
      <h1 class="Title">
         {{ title }}
      </h1>
    </div>
    <!-- <div class="col-6" id="logoContainer">
        <img src="assets/Site Logo.png" alt="Logo" class="img-fluid" id="siteLogo" />
    </div> -->
  </div>
  
  <div class="row my-4" id="socialWrapper">
    <app-socials></app-socials>
  </div>
  <div class="row no-gutters">
    <app-projects></app-projects>
  </div>
  
</div>