/* .container {

} */

#socialContainer {
    width: 480px;
    border-radius: 2px;
}

#socialContainer:hover {
    box-shadow: 0px 0px 18px;
    transition: 0.23s ease;
}

.socials {
    list-style-type: none;
    padding-left: 10px;
}

.socialIcon {
    height: 30px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-bottom;
    
}

.socials h2 {
    display: inline-block;
    
}

.socialLink {
    color: #C4BBB6;
    
}

.listItem {
    display: inline-block;
    margin: 10px;
}