<!-- <div class="container" id="projectContainer">
  <h2 id="sectionTitle" style="color:white;">Project Details</h2> -->
  <!-- <ul class="listItem">
    <li *ngFor="let project of projects"> -->
      <!-- <img src="{{project.image}}" alt="{{ project.name | lowercase }}" class="projectImage"/> -->
      <!-- <h3><a target="_blank" rel="noopener" href="{{project.url}}">{{project.name | uppercase}}</a></h3>
    </li>
  </ul> -->
<!-- </div> -->

<div *ngIf="project" id="projectWrapper">

  <h2 id="projectTitle">{{project.name | uppercase}}</h2>
  <!-- <div> -->
    <img src="{{project.image}}" alt="{{ project.name | lowercase }}" class="img-fluid rounded mx-auto d-block" id="projectImage"/>
    <h3>{{project.date}}</h3>
    <p><span>Built with: </span>{{project.languages}}<br/>{{project.description}}</p>

  <!-- </div> -->

</div>